* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;

}
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../blogback.png);
	height: auto;
	width: auto;
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #F8EFED;

}

img {

	margin-left: auto;
	margin-right: auto;

}

ul {
	padding: 10px 5px;
	display: flex;
	overflow: hidden;
	list-style-type: none;
}

li a {
	display: block;
	color: #000;
	padding: 15px 17px;
	text-decoration: none;
	text-align: center;
}



ul li a:hover {
	background-color: #F0B4B4;
	color: white;
}

ul li.active a {
	background-color: #F0B4B4;
	color: #000;
}


.row:after {
	display: table;
	clear: both;
	content: "";
}

.column {
	flex: 75%;
	float: left;
}

.card {
	background-image: url(../background1.jpg);
	padding: 20px;
	margin-top: 80px;
	margin-left: 200px;
	margin-right: 200px;

}

.footer {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px;
}
.footer a{
	color: #fff;
}